<h1>Sales Tax App </h1>

<h3>Receipt of purchases</h3>

<table>
<tr>
<th>Name</th>
<th>Price</th>
</tr>
<% @cart.each do |p| %>
    <tr>
    <td><%= p.name %></td>
    <td>$<%= convert_to_dollars(p.price) %></td>
    </tr>
<% end %>
<hr/>
</table>

<h4>Total sales tax $ <%= @total_tax %></h4>

<h4>Total import tax $ <%= @total_import %></h4>

<h4>Total price $ <%= @total_price %></h4>

<%= link_to 'Back', sales_show_url, method: :get %>

