<h1>Sales Tax App</h1>

<h2>Select items and place in basket...</h2>

<!-- 
<% @products.each do |p| %> 
    <%= p.name %>
    <%= number_to_currency(p.price) %>
   <%= p.imported %>
<% end %>
-->

&nbsp;
&nbsp;

<%= form_with(scope: 'products', url: '/sales/addItem', method: :post) do |p| %>
    <%= p.select :id, @products.map { |p| [p.name, p.id]} %>
    <%= p.submit %>
<% end %>

&nbsp;
&nbsp;

<%= form_with(url: '/sales/clear_session', method: :post) do |form| %>
    <%= form.submit "clear session" %>
<% end %>
  

