<h1>Sales Tax App</h1>

<h3> 1) Select one item at a time </h3>
<h3> 2) Save </h3>
<h3> 3) View basket </h3>

<!-- 
<% @products.each do |p| %> 
    <%= p.name %>
    <%= number_to_currency(p.price) %>
   <%= p.imported %>
<% end %>
-->

&nbsp;
&nbsp;

<%= form_with(scope: "products", url: '/sales/addItem', method: :post) do |p| %>
    <%= p.select :id, @products.map { |p| [p.name, p.id]} %>
    <%= p.submit %>
<% end %>

&nbsp;
&nbsp;

<%= form_with(url: '/sales/clear_session', method: :post) do |form| %>
    <%= form.submit "Clear Session" %>
<% end %>
  

